@use '../styles/variables' as vars;

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
}

h2,
h3 {
  margin: 0 0 2em;
  font-weight: normal;
  color: vars.$text-dark;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  color: vars.$text-muted;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.006em;
  margin: 0;
}
