@use '../styles/variables' as vars;

// --- Styles ---
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(100px);
}

#container {
  font-family: vars.$font-sans;
  height: 100%;
}

#hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  text-align: center;

  .logo {
    margin-bottom: 16px;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }
}

#links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  border-top: 1px solid vars.$border-muted;
  margin-top: 12px;
  padding-top: 24px;

  a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: vars.$text-dark;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: rgb(78, 80, 86);
    }

    svg {
      height: 1em;
      margin-left: 8px;
    }

    &.button {
      color: white;
      background: vars.$brand-gradient;
      box-shadow: 
        inset 0 0 0 1px rgba(255, 255, 255, 0.12),
        inset 0 -2px 0 rgba(0, 0, 0, 0.24);
      border-radius: 10px;

      &:hover {
        color: rgb(230, 230, 230);
        box-shadow: none;
      }
    }
  }

  p {
    width: 100%;
    text-align: center;
  }
}

