---
import logo from '../assets/logo.png';
import background from '../assets/background.svg';
import './welcome.scss';
---

<div id='container'>
  <img id='background' src={background.src} alt='' fetchpriority='high' />
  <main>
    <section id='hero'>
      <img
        class='logo'
        src={logo.src}
        width='179'
        height='222'
        alt='Jason Yang'
      />
      <h1>Jason Yang | Software Engineer | 10+ Years of Experience</h1>
      <h2>JavaScript/TypeScript, NodeJS, React 19, NextJS</h2>
      <h3>🚧 Hi, I'm currently being updated. Please check back soon! 🔨</h3>
      <section id='links'>
        <a class='button' href='https://www.linkedin.com/in/jasonyangcis/'
          >LinkedIn</a
        >
        <a class='button' href='https://github.com/jasonyangcis'>GitHub</a>
      </section>
    </section>
  </main>
</div>
